@import "@radix-ui/colors/violet.css";

.SeparatorRoot {
	background-color: #71717a;
}
.SeparatorRoot[data-orientation="horizontal"] {
	height: 1px;
	width: 100%;
}
.SeparatorRoot[data-orientation="vertical"] {
	height: 100%;
	width: 1px;
}

.Text {
	color: red;
	font-size: 15px;
	line-height: 20px;
}
